@import "tailwindcss";

@theme {
  --color-navy-dark: #022c22; /* Hijau sangat gelap */
  --color-teal-accent: #10b981; /* Hijau Emerald terang */
}

@layer base {
  body {
    background-color: var(--color-navy-dark);
    color: #94a3b8;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
}