@import "tailwindcss";

@theme {
  --color-navy-dark: #030712;
  --color-teal-accent: #2dd4bf;
}

@layer base {
  body {
    background-color: var(--color-navy-dark);
    color: #94a3b8;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
}